.menu > h1 {
    margin: auto;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    transition: 0.5s;
    cursor: pointer;
}
.menu:hover > h1 {
    font-size: 150px;
    transform: rotateY(60deg);
}