html {
    width: 100%;
    overflow-y: hidden;
}
body, .container,.tic, #gamePad, .circle, .cross,
.circleSelected, .crossSelected, .points, .mainBody,
.page,.menuContainer, .menu, .close {
    box-sizing: border-box;
}
body {
    margin: 0px;
    background: rgb(15, 121, 192);
    overflow-y: hidden;
    
}
.bodyScroll {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.mainBody
{
    width: 200%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.page
{
    scroll-snap-align: center;
}
#page1 {
    margin: auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
}
.container {
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: auto;
}
#gamePad {
    margin: auto;
    width: 500px;
    height: 500px;
    padding: 1%;
    border-radius: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1%;
    background: radial-gradient(rgba(0, 0, 0, 0.7) 37%, transparent,transparent);
}
.tic {
    /* border-radius: 10%; */
    background:  rgb(15, 121, 192);
    padding: 20px;
    width: 160px;
    height: 160px;
    margin: auto;
}
.button {
    margin: auto;
    position: absolute;
    z-index: 1;
    background: rgb(15, 121, 192);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
}
#play {
    background: rgba(0,0,0,0.2);
    margin: auto;
    padding: 20px;
    width: 100px;
    height: 70px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 150%;
}
.box {
    margin: auto;
    transform: rotate(45deg);
    transform: scale(1);
    background: rgba(0, 0, 0, 0.589);
}
.circle {
    margin: auto;
    width: 90%;
    height: 90%;
    border: 6px solid white;
    border-radius: 50%;
    transition: 1s;
    transform: scale(0.8);
}
.cross {
    transition: 1s;
    margin: auto;
    /* display: none; */
    background: white;
    height: 100%;
    margin-left: 40px;
    width: 20px;
    border-radius: 15px;
    transform: scale(0.8);
    transform: rotate(45deg);
}
.cross::after {
    background: white;
    content: "";
    height: 20px;
    left: -41px;
    position: absolute;
    top: 38px;
    width: 122px;
    border-radius: 15px;
    transition: 1s;
}
@media only screen and (max-width:800px) {
    /* #gamePad {
        width: 76%;
        margin-left: 9%;
    } */
    #play {
        width: 200px;
        height: 150;
        font-size: 2em;
    }
}
.points {
    width: 200px;
    height: 70px;
    border-radius: 20px;
    background: rgba(0,0,0,0.2);
    color: white;
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    margin: auto;
}
.points>span {
    margin: auto;
    font-size: 2em;
}
#crossWin {
    left: 0px;
    transform: rotate(180deg);
}
#circleWin {
    right: 0px;
    transform: rotate(180deg);
}
#crossWin2 {
    left: 0px;
    bottom: 0px;
}
#circleWin2 {
    right: 0px;
    bottom: 0px;
}
.winner {
    font-size: 600%;
    position: absolute;
    background: rgba(0,0,0,0.2);
    color: white;
    width: 100%;
    height: 100vh;
    display: none;
    grid-template-columns: auto;
}
.winner>span {
    margin: auto;
    text-align: center;
}
#page2
{
    background: rgba(0,0,0,0.2);
    display: grid;
}
.menuContainer
{
    margin: auto;
    width: 100%;
    height: auto;
    padding: 20px;
    /* display: grid;
    grid-template-columns:  auto auto auto auto;
    grid-gap: 20px; */
}
.menu {
    display: inline-block;
    background: white;
    border-radius: 10px;
    width: 49.6%;
    height: 100px;
    margin: auto;
    transition: 0.5s;
    overflow: hidden;
}
.shrinkMenu
{
    width: 0px;
    height: 0px;
}
.expandMenu {
    width: calc(100vw - 40px);
    height: 80vh;
    position: relative;
    border-radius: 20px;
    background: white;
    z-index: 1;
}
.close {
    width: 40px;
    height: 40px;
    background: white;
    color: black;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    right: 47%;
    top: 10px;
    text-align: center;
    padding: 10px;
    display: none;
    cursor: pointer;
}